#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

#lightbox-closer-x {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#lightbox-closer-x .fa-times-circle {
    font-size: 1.5rem;
    cursor: pointer;
}

#left-arrow,
#right-arrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 1;
    height: 100%;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

#left-arrow {
    left: 0;
}

#right-arrow {
    right: 0;
}

#left-arrow .fas,
#right-arrow .fas {
    position: relative;
    top: 50%;
}

#member-details {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
}

#lightbox-details {
    overflow-y: auto;
    flex-direction: column;
}

#love-pic {
    font-size: 1.25rem;
    cursor: pointer;
}

.mini-profile {
    background-color: purple;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    flex-grow: 1;
}

.mini-profile .fa-user-circle {
        font-size: 3.25rem;
    }

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
}

#loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}

#lightbox-edit,
#lightbox-delete {
    font-size: 2rem;
    cursor: pointer;
}

/* laptops and larger */
@media (min-width: 992px) {
    #lightbox-container {
        overflow-y: unset;
    }

    #lightbox-details {
        height: 100%;
    }
}