/* Set padding to keep content from hitting the edges */
/*.body-content {
	padding-left: 15px;
	padding-right: 15px;
}
*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/**** global styles ****/

:root {
	--red: #e61d2f;
	--blue: #2d9cdb;
	--white: #ffffff;
	--black: #121212;
	--grey: #8b8b8b;
}

body {
	padding: 0 1.875rem;
	margin-bottom: 6.25rem;
}

#navbar-desktop {
	display: none;
}

#navbar-mobile,
#navbar-mobile-banner {
	display: block;
    width: 100%;
}

.result-pic {
	max-height: 9.375rem;
	margin: 0.313rem;
}

#results-body > div {
    height: 12rem;
}

#results-body {
	background-color: hsla(0, 0%, 0%, 0.5);
}

.member-select-overflow {
	max-height: 10rem;
}

/* laptops and larger */
@media (min-width: 992px) {
    #navbar-desktop {
        display: block;
    }

    #navbar-mobile,
    #navbar-mobile-banner {
        display: none;
    }

    body {
        margin-top: 5rem;
        margin-bottom: 0 !important;
    }

    .mobile-nav-button {
        display: none !important;
    }

    .add-mobile-nav-buffer {
        padding-bottom: 0 !important;
    }
}

/****** utility styling *********/

.hidden,
.hidden > * {
    height: 0 !important;
    overflow: hidden !important;
    z-index: -10 !important;
    padding: 0 !important;
}

.trigger {
    cursor: pointer;
}

.restrict-scroll {
    max-height: 100vh !important;
    overflow: hidden !important;
}

.scroll-y-no-bar {
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-y-no-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-y-no-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.image-fluid {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.mobile-nav-button {
    width: 100%;
    z-index: 2500;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    cursor: pointer;
}

.red-border {
    border: 1px solid red;
}

.blue-border {
    border: 1px solid blue;
}

.green-border {
    border: 1px solid green;
}

.make-long {
    height: 150vh;
}