@model PicsOfUs.Models.PicProfileViewModel

<div class="gradient-wrap mini-profile">
	<div class="gradient-background d-flex flex-row align-items-center text-center py-3">
		<!--                        
			<img src="@@member.ProfilePic" alt="So and so's profile picture" class="rounded-circle mx-3">
		-->
		<div class="mx-3">
			<h5>@Model.Name</h5>
			<div class="row no-gutters align-items-center">
				<div class="col-sm-8 col-12">Age In Pic</div>
				<div class="col-sm-4 col-12">@Model.AgeInPhoto</div>
			</div>
		</div>
	</div>
</div>


@Html.ActionLink("View Member", "MemberDetails", new { id = Model.MemberId }, new {@class= "btn btn-primary"})